:root {
  --color-primary: black;
  --color-secondary: white;
  --color-accent: #F4B511;
  --color-search: #F59203;
  --color-inventory: #A46DBE;
  --color-work: #8CB044;
  --layout-width: 1440px;
  --layout-padding: 50px;
  --menu-height: 120px;
}
