body {
  font-family: "OpenSans";
  main#primary {
    position: relative;
    z-index: 1;
  }
}

body:not(.home) {
  .header-background {
    background-position: center;
    background-image: url("../../../uploads/2020/11/arkeogis-header.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }
  main#primary {
    margin-top: 300px;
  }
}

body.logged-in {
  header.site-header {
    margin-top: 32px;
  }
  #page {
    margin-top: (var(--site-header) + 40px);
    .landing-block {
      // height: calc( 100vh - calc(var(--menu-height) + 30px));
      // padding-top: calc( 100vh - calc(var(--menu-height) + 30px));
    }
  }
}