body {
  font-family: "OpenSans";
  main#primary {
    position: relative;
    z-index: 1;
  }
}

body.logged-in {
  header.site-header {
    margin-top: 32px;
  }
  #page {
    margin-top: (var(--site-header) + 40px);
    .landing-block {
      // height: calc( 100vh - calc(var(--menu-height) + 30px));
      // padding-top: calc( 100vh - calc(var(--menu-height) + 30px));
    }
  }
}